@import 'variables';

html,
body {
    background-color: $color-bg;
    color: $color-text;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
}

a {
    color: $color-link;

    &:hover {
        text-decoration: none;
    }
}

section {
    padding-bottom: 50px;
}

footer {
    background-color: $color-footer-bg;
    border: $color-footer-border 1px solid;
    border-radius: 4px;
    bottom: 0;
    color: $color-footer-text;
    line-height: 50px;
    margin-top: 50px;
    min-height: 50px;
    opacity: .8;
    position: absolute;
    width: 100%;

    .row {
        div {
            &:last-child {
                text-align: right;
            }
        }
    }
}

.viewport {
    background: url('../img/bg.png');
    min-height: 100%;
    position: relative;
}

.vh-full {
    min-height: 100vh;
}

.vh-three-quarters {
    min-height: 75vh;
}

.vh-half {
    min-height: 50vh;
}

.vh-quarter {
    min-height: 25vh;
}
